

.header{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 20px rgb(0 0 0 / 8%);
}


.header-tab{
    display: block;
    background-color: inherit;
    color: black;
    /* padding: 22px 16px; */
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

.header-tab:hover {
    background-color: #ddd;
}


.header-tab.active {
    background-color: #ccc;
}