* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #fff;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: #000;
}

ul{
    list-style: none;
}

.container{
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

.main-nav{
    display: flex;
    align-items: center;
    justify-self: space-between;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;

}

.main-nav .logo{
    width: 110px;
}

.main-nav ul{
    display: flex;

}

.main-nav ul li{
    padding: 0 10px;
}

.main-nav ul li a{
    border-bottom: 2px;
}

.main-nav ul li a:hover{
    border-bottom:2px solid black;
}

.main-nav ul.main-menu{
    flex:1;
    margin-left:20px;

}
.chevron-right-solid{
    height: 10px;
}
.btn{
    padding: 10px 20px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    font-size: 15px;
    font-weight: bolder;
    display: inline-block;
    border:0;
}

.btn:hover{
    opacity: 0.9;
}

.heading{
    width: 100%;
    height: 400px;
    background-image: url(img/back-first.png);
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    display: flex;
    /* Look up here 10 min*/
    flex-direction: column;
    /* Look up here 10 min*/
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}

.heading h2, .heading p{
    margin-left: 80px;
    margin-bottom:10px ;
    /* color: #fff; */
}
.heading .btn{
    margin-left: 100px;
    margin-top: 10px;

}

/* .microsoft-brands-solid{
    /* height: 50px; */
    /* padding-top: 10px;
    display: flex; */ 

/* } */

.office-line{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
    cursor: pointer;
}

.office-line div{
    width: 120px;
    text-align: center;
    
}

.office-line div h1{
    font-size:15px;
    
}
.office-line img{
    width: 100%;
    height: 30px;
    margin-top: 50px;
    
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-top: 20px;

}

.cards img{
    width: 100%;
    margin-bottom: 20px;
}

.cards h3{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

.cards a{
    display: inline-block;
    padding-top: 10px;
    text-transform: uppercase;
    color: #0067b8;
    font-weight: bold;
}

.cards a:hover{
    border-bottom: 20px solid #0067b8;
    /* border-spacing: 10px; */
}

/* .cards a:hover i{

} */